/*This is a basic style for abput me page*/
body{
    background-color:cadetblue;
}
.bio{
    color:brown;
    text-decoration: underline;
    font-weight: bold;
}
h3{
    color:chartreuse;
}
span{
    font-style: italic;
}


